exclude Makefile
exclude .editorconfig
recursive-exclude docs *
recursive-exclude .github *
recursive-exclude .goose *
recursive-exclude tests *
recursive-include src py.typed
exclude *.yaml
exclude *.yml
exclude *.toml
include README.md
include LICENSE
include pyproject.toml
exclude .gitignore
exclude setup.cfg
exclude mypy.ini
exclude *requirements.txt
