name: CI
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
jobs:
  lint:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.8']
    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python-version }}
      - name: pip cache
        uses: actions/cache@v1
        with:
          path: ~/.cache/pip
          key: ${{ runner.os }}-pip-${{ hashFiles('setup.cfg') }}
          restore-keys: ${{ runner.os }}-pip
      - run: pip install -e .[test,lint]
        if: ${{ matrix.python-version == '3.8' }}
      - run: pip install -e .[test]
        if: ${{ matrix.python-version != '3.8' }}
      - name: mypy cache
        uses: actions/cache@v1
        with:
          path: .mypy_cache
          key: ${{ runner.os }}-mypy-${{ hashFiles('setup.cfg') }}
          restore-keys: ${{ runner.os }}-mypy
      - run: make lint
        if: ${{ matrix.python-version == '3.8' }}
      - run: make coverage
      - id: coverage-report
        run: |
          report=$(make coverage-report)
          echo "::set-output name=report::${report}"
      - run: echo "${{ steps.coverage-report.outputs.report }}"
      - uses: unsplash/comment-on-pr@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          msg: |
            # Coverage report

            ```
            ${{ steps.coverage-report.outputs.report }}
            ```
          check_for_duplicate_msg: false
